install/node-red-flows/flows.json
[{"id":"1555e029.61caf8","type":"tab","label":"Online devices","disabled":false,"info":""},{"id":"d755bfa6.dd684","type":"tab","label":"Homekit devices","disabled":false,"info":""},{"id":"406af6aa.9543d8","type":"tab","label":"Utomhus","disabled":false,"info":""},{"id":"c5eee3ce.8cd8c8","type":"tab","label":"InfluxDb","disabled":false,"info":""},{"id":"f391de5c.85acf8","type":"subflow","name":"Walnut Conference","info":"","category":"","in":[{"x":80,"y":240,"wires":[{"id":"7b49479f.41a288"},{"id":"de59f3c3.3e13d"}]}],"out":[{"x":960,"y":140,"wires":[{"id":"7b49479f.41a288","port":0},{"id":"239efa11.d49dc6","port":0}]},{"x":960,"y":200,"wires":[{"id":"7b49479f.41a288","port":1},{"id":"239efa11.d49dc6","port":0}]},{"x":960,"y":260,"wires":[{"id":"7b49479f.41a288","port":2},{"id":"239efa11.d49dc6","port":0}]},{"x":960,"y":320,"wires":[{"id":"7b49479f.41a288","port":3},{"id":"239efa11.d49dc6","port":0}]},{"x":960,"y":380,"wires":[{"id":"7b49479f.41a288","port":4}]},{"x":960,"y":440,"wires":[{"id":"7b49479f.41a288","port":5}]}],"env":[],"color":"#DDAA99","inputLabels":["MQTT"],"outputLabels":["Rörelse","Temperatur","Luftfuktighet","Ljussensor","Batteri","RSSI"],"icon":"node-red/switch.svg"},{"id":"88cf1d42.96444","type":"subflow","name":"Walnut Climate","info":"","category":"","in":[{"x":80,"y":240,"wires":[{"id":"5984b8c3.21a19"},{"id":"6fe35e78.0caee8"}]}],"out":[{"x":960,"y":140,"wires":[{"id":"5984b8c3.21a19","port":0},{"id":"b6dc940a.869a68","port":0},{"id":"1338424a.e8b92e","port":0}]},{"x":960,"y":200,"wires":[{"id":"5984b8c3.21a19","port":1},{"id":"b6dc940a.869a68","port":0}]},{"x":960,"y":260,"wires":[{"id":"5984b8c3.21a19","port":2},{"id":"b6dc940a.869a68","port":0}]},{"x":960,"y":320,"wires":[{"id":"5984b8c3.21a19","port":3},{"id":"b6dc940a.869a68","port":0}]},{"x":960,"y":380,"wires":[{"id":"5984b8c3.21a19","port":4}]},{"x":960,"y":440,"wires":[{"id":"5984b8c3.21a19","port":5}]}],"env":[],"color":"#DDAA99","inputLabels":["MQTT"],"outputLabels":["Temperatur","Luftfuktighet","Ljssensor","Lufftryck","Batteri","RSSI"],"icon":"node-red/switch.svg"},{"id":"eedc418e.860fb8","type":"mqtt-broker","name":"WalnutGatewayBroker","broker":"127.0.0.1","port":"1883","clientid":"WalnutGatewayNodeRed","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"846d8156.169ec","type":"homekit-bridge","bridgeName":"BergGateway","pinCode":"087-97-203","port":"","advertiser":"bonjour-hap","allowInsecureRequest":false,"manufacturer":"Berg","model":"BergGateway","serialNo":"1","firmwareRev":"","hardwareRev":"","softwareRev":"","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"84f7d70.5b51da8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"walnutstest","name":"InfluxDbServer","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d80540fe.bfbd08","type":"mqtt in","z":"1555e029.61caf8","name":"Devices","topic":"walnuts/+/rssi","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":90,"y":300,"wires":[["e1f04cc7.0fea7","c50de341.4f1b88"]]},{"id":"38925837.6dac3","type":"debug","z":"1555e029.61caf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":320,"wires":[]},{"id":"e1f04cc7.0fea7","type":"function","z":"1555e029.61caf8","name":"","func":"var devices\n\nif (global.get(\"deviceList\") === undefined) {\n    devices = []\n    global.set(\"deviceList\", devices)\n}\n\ndevices = global.get(\"deviceList\")\n\nvar str = (msg.topic).split(\"/\")\nnew_device = str[1];\n\nvar device_found_in_list = false;\n\nfor (i = 0; i < devices.length; i++) {\n  if (new_device == devices[i]) {\n    device_found_in_list = true;\n    break;\n  }\n}\n\nif (device_found_in_list) {\n  return null;\n}\n\ndevices.push(new_device);\nglobal.set(\"deviceList\", devices);\nmsg.payload = new_device;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["38925837.6dac3"]]},{"id":"c50de341.4f1b88","type":"debug","z":"1555e029.61caf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":280,"wires":[]},{"id":"d10f77db.f6dcd8","type":"comment","z":"1555e029.61caf8","name":"Check debug output for Walnut devices MAC-address","info":"","x":240,"y":80,"wires":[]},{"id":"6d90ad37.3b5b64","type":"inject","z":"1555e029.61caf8","name":"Press to empty device list","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["9c90bf6c.230568"]]},{"id":"9c90bf6c.230568","type":"function","z":"1555e029.61caf8","name":"Create device list","func":"var devices = [];\nglobal.set(\"deviceList\", devices)\nreturn msg;","outputs":0,"noerr":0,"x":410,"y":180,"wires":[]},{"id":"c2f55d93.04d33","type":"mqtt in","z":"d755bfa6.dd684","name":"walnuts/f8:1d:78:b0:03:c8/#","topic":"walnuts/f8:1d:78:b0:03:c8/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":160,"y":760,"wires":[["60f234ce.b14b8c"]]},{"id":"b56e6265.94f31","type":"debug","z":"d755bfa6.dd684","name":"RSSI","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":260,"wires":[]},{"id":"7614404a.97bd78","type":"mqtt in","z":"d755bfa6.dd684","name":"walnuts/d3:00:01:0c:af:68/#","topic":"walnuts/d3:00:01:0c:af:68/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":160,"y":160,"wires":[["82dd8fbe.5e6bb"]]},{"id":"e4fa0981.1fd4d8","type":"debug","z":"d755bfa6.dd684","name":"RSSI","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":560,"wires":[]},{"id":"1e6d0f89.301f58","type":"debug","z":"d755bfa6.dd684","name":"Barometric Pressure","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":740,"y":180,"wires":[]},{"id":"5797c369.fd8554","type":"mqtt in","z":"d755bfa6.dd684","name":"walnuts/dd:37:3d:26:dc:29/#","topic":"walnuts/dd:37:3d:26:dc:29/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":160,"y":1660,"wires":[["aa91214d.17a408"]]},{"id":"9d626772.844e8","type":"mqtt in","z":"d755bfa6.dd684","name":"","topic":"walnuts/d5:c0:91:20:17:4c/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":160,"y":1060,"wires":[["b568aa23.71d0f8"]]},{"id":"24eb0a1f.264f6e","type":"mqtt in","z":"d755bfa6.dd684","name":"","topic":"walnuts/f4:9d:46:f4:23:3b/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":160,"y":1360,"wires":[["81417c7c.73f28"]]},{"id":"86541dc4.8e715","type":"mqtt in","z":"d755bfa6.dd684","name":"","topic":"walnuts/db:36:70:83:be:52/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":160,"y":460,"wires":[["edbd6a49.9e971"]]},{"id":"7b49479f.41a288","type":"function","z":"f391de5c.85acf8","name":"Walnut Conference","func":"var payload = {};\nif (msg.topic.includes(\"presence\")) {\n    var motionDetected = msg.payload == 1;\n    msg.payload = { MotionDetected: motionDetected,\n                    StatusActive: true };\n    return [ msg, null, null, null, null, null ];\n} else if (msg.topic.includes(\"temperature\")) {\n    msg.payload = { CurrentTemperature: Number(msg.payload), \n                    StatusActive: true };\n    return [ null, msg, null, null, null, null ];\n} else if (msg.topic.includes(\"relative_humidity\")) {\n    msg.payload = { CurrentRelativeHumidity: Number(msg.payload), \n                    StatusActive: true };\n    return [ null, null, msg, null, null, null ];\n} else if (msg.topic.includes(\"ambient_light\")) {\n    if (Number(msg.payload) < 0.001) {\n        msg.payload = { CurrentAmbientLightLevel: 0.001, \n                    StatusActive: true };\n    } else {\n        msg.payload = { CurrentAmbientLightLevel: Number(msg.payload), \n                    StatusActive: true };\n    }\n    return [ null, null, null, msg, null, null ];\n} else if (msg.topic.includes(\"battery\")) {\n    var batteryLevel = Number(msg.payload);\n    var statusLowBattery = Number(batteryLevel < 20);\n    msg.payload = { BatteryLevel: batteryLevel, \n                    StatusLowBattery: statusLowBattery };\n    return [ null, null, null, null, msg, null ];\n} else if (msg.topic.includes(\"rssi\")) {\n    return [ null, null, null, null, null, msg ];\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":430,"y":240,"wires":[[],[],[],[],[],[]]},{"id":"de59f3c3.3e13d","type":"trigger","z":"f391de5c.85acf8","name":"","op1":"reset","op2":"true","op1type":"str","op2type":"bool","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":400,"wires":[["239efa11.d49dc6"]]},{"id":"239efa11.d49dc6","type":"trigger","z":"f391de5c.85acf8","name":"","op1":"{\"StatusActive\":false}","op2":"0","op1type":"json","op2type":"str","duration":"-60","extend":false,"overrideDelay":false,"units":"s","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":400,"wires":[[]]},{"id":"edbd6a49.9e971","type":"subflow:f391de5c.85acf8","z":"d755bfa6.dd684","name":"","env":[],"x":430,"y":460,"wires":[["92fa9d9c.5c5748"],["15dc9ab6.8383c5"],["4613e31a.a54d14"],["b41f9a11.128768"],["479719c6.c93b4"],["e4fa0981.1fd4d8"]]},{"id":"92fa9d9c.5c5748","type":"homekit-service","z":"d755bfa6.dd684","d":true,"isParent":true,"hostType":"0","bridge":"846d8156.169ec","accessoryId":"","parentService":"","name":"Rörelse","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"SigmaConnectivity AB","model":"Walnut Conference","serialNo":"db:36:70:83:be:52","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":700,"y":360,"wires":[[],[]]},{"id":"15dc9ab6.8383c5","type":"homekit-service","z":"d755bfa6.dd684","d":true,"isParent":false,"hostType":"0","bridge":"","accessoryId":"","parentService":"92fa9d9c.5c5748","name":"Temperatur","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":400,"wires":[[],[]]},{"id":"4613e31a.a54d14","type":"homekit-service","z":"d755bfa6.dd684","d":true,"isParent":false,"hostType":"0","bridge":"","accessoryId":"","parentService":"92fa9d9c.5c5748","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":440,"wires":[[],[]]},{"id":"b41f9a11.128768","type":"homekit-service","z":"d755bfa6.dd684","d":true,"isParent":false,"hostType":"0","bridge":"","accessoryId":"","parentService":"92fa9d9c.5c5748","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":480,"wires":[[],[]]},{"id":"479719c6.c93b4","type":"homekit-service","z":"d755bfa6.dd684","d":true,"isParent":false,"hostType":"0","bridge":"","accessoryId":"","parentService":"92fa9d9c.5c5748","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":690,"y":520,"wires":[[],[]]},{"id":"60f234ce.b14b8c","type":"subflow:f391de5c.85acf8","z":"d755bfa6.dd684","name":"","env":[],"x":430,"y":760,"wires":[["a3e8bc80.e098d8"],["7b4e11be.8236b8"],["1787f226.cb1666"],["bc7d883b.ee3b3"],["9209475e.25fa28"],["f5729d0.86a52e"]]},{"id":"f5729d0.86a52e","type":"debug","z":"d755bfa6.dd684","name":"RSSI","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":860,"wires":[]},{"id":"a3e8bc80.e098d8","type":"homekit-service","z":"d755bfa6.dd684","isParent":true,"bridge":"846d8156.169ec","parentService":"","name":"Rörelse f8:1d:78:b0:03:c8","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"SigmaConnectivity AB","model":"Walnut Conference","serialNo":"f8:1d:78:b0:03:c8","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":750,"y":660,"wires":[[],[]]},{"id":"7b4e11be.8236b8","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"a3e8bc80.e098d8","name":"Temperatur","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":700,"wires":[[],[]]},{"id":"1787f226.cb1666","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"a3e8bc80.e098d8","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":740,"wires":[[],[]]},{"id":"bc7d883b.ee3b3","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"a3e8bc80.e098d8","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":780,"wires":[[],[]]},{"id":"9209475e.25fa28","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"a3e8bc80.e098d8","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":690,"y":820,"wires":[[],[]]},{"id":"b568aa23.71d0f8","type":"subflow:f391de5c.85acf8","z":"d755bfa6.dd684","name":"","env":[],"x":430,"y":1060,"wires":[["fad5ee8f.75311"],["cdfd9360.f041f"],["9bbff06e.2b63b"],["548b4671.0a4c9"],["a37e0169.ce0098"],["b82c07ca.32989"]]},{"id":"b82c07ca.32989","type":"debug","z":"d755bfa6.dd684","name":"RSSI","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":1160,"wires":[]},{"id":"fad5ee8f.75311","type":"homekit-service","z":"d755bfa6.dd684","isParent":true,"hostType":"0","bridge":"846d8156.169ec","accessoryId":"","parentService":"","name":"Rörelse d5:c0:91:20:17:4c","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"SigmaConnectivity AB","model":"Walnut Conference","serialNo":"d5:c0:91:20:17:4c","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":760,"y":960,"wires":[[],[]]},{"id":"cdfd9360.f041f","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"fad5ee8f.75311","name":"Temperatur","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1000,"wires":[[],[]]},{"id":"9bbff06e.2b63b","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"fad5ee8f.75311","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1040,"wires":[[],[]]},{"id":"548b4671.0a4c9","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"fad5ee8f.75311","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1080,"wires":[[],[]]},{"id":"a37e0169.ce0098","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"fad5ee8f.75311","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":690,"y":1120,"wires":[[],[]]},{"id":"8e13499a.d7f3e","type":"comment","z":"d755bfa6.dd684","name":"Elias rum","info":"# Elias rum","x":100,"y":980,"wires":[]},{"id":"5984b8c3.21a19","type":"function","z":"88cf1d42.96444","name":"Walnut Climate","func":"var payload = {};\nif (msg.topic.includes(\"temperature\")) {\n    payload = { CurrentTemperature: Number(msg.payload), \n                StatusActive: true };\n    msg.payload = payload;\n    return [ msg, null, null, null, null, null ];\n} else if (msg.topic.includes(\"relative_humidity\")) {\n    payload = { CurrentRelativeHumidity: Number(msg.payload), \n                StatusActive: true };\n    msg.payload = payload;\n    return [ null, msg, null, null, null, null ];\n} else if (msg.topic.includes(\"ambient_light\")) {\n    msg.payload = { CurrentAmbientLightLevel: Number(msg.payload), \n                    StatusActive: true };\n    return [ null, null, msg, null, null, null ];\n} else if (msg.topic.includes(\"barometric_pressure\")) {\n    msg.payload = { CurrentBarometricPressure: Number(msg.payload), \n                    StatusActive: true };\n    return [ null, null, null, msg, null, null ];\n} else if (msg.topic.includes(\"battery\")) {\n    var batteryLevel = Number(msg.payload);\n    var statusLowBattery = Number(batteryLevel < 20);\n    msg.payload = { BatteryLevel: batteryLevel, \n                    ChargingState: 2, \n                    StatusLowBattery: statusLowBattery };\n    return [ null, null, null, null, msg, null ];\n} else if (msg.topic.includes(\"rssi\")) {\n    return [ null, null, null, null, null, msg ];\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":420,"y":240,"wires":[["50c1fe2f.a6b108"],[],[],[],[],[]]},{"id":"6fe35e78.0caee8","type":"trigger","z":"88cf1d42.96444","name":"","op1":"reset","op2":"true","op1type":"str","op2type":"bool","duration":"60","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":400,"wires":[["b6dc940a.869a68"]]},{"id":"b6dc940a.869a68","type":"trigger","z":"88cf1d42.96444","name":"","op1":"{\"StatusActive\":false}","op2":"0","op1type":"json","op2type":"str","duration":"-60","extend":false,"overrideDelay":false,"units":"s","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":400,"wires":[[]]},{"id":"82dd8fbe.5e6bb","type":"subflow:88cf1d42.96444","z":"d755bfa6.dd684","name":"","env":[],"x":420,"y":160,"wires":[["ed91c126.bfbd68"],["ebbfc7a0.bb3578"],["69d9b1d3.6efa58"],["1e6d0f89.301f58"],["398a60f.70c1ba"],["b56e6265.94f31"]]},{"id":"ed91c126.bfbd68","type":"homekit-service","z":"d755bfa6.dd684","isParent":true,"bridge":"846d8156.169ec","parentService":"","name":"Temperatur d3:00:01:0c:af:68","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Sigma Connectivity AB","model":"Walnut Climate","serialNo":"d3:00:01:0c:af:68","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":770,"y":60,"wires":[[],[]]},{"id":"ebbfc7a0.bb3578","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"ed91c126.bfbd68","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":100,"wires":[[],[]]},{"id":"69d9b1d3.6efa58","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"ed91c126.bfbd68","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":140,"wires":[[],[]]},{"id":"398a60f.70c1ba","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"ed91c126.bfbd68","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":690,"y":220,"wires":[[],[]]},{"id":"bb7430b9.121418","type":"comment","z":"d755bfa6.dd684","name":"Carport","info":"","x":90,"y":80,"wires":[]},{"id":"8fd180c.94ee28","type":"comment","z":"d755bfa6.dd684","name":"Ute (syrenen)","info":"","x":110,"y":380,"wires":[]},{"id":"e9d0dbbe.5a12a","type":"comment","z":"d755bfa6.dd684","name":"Lilla rummet","info":"","x":110,"y":680,"wires":[]},{"id":"aa91214d.17a408","type":"subflow:f391de5c.85acf8","z":"d755bfa6.dd684","name":"","env":[],"x":430,"y":1660,"wires":[["22019e56.c8fbba"],["d22db105.6a6ec"],["f5957c47.c18af"],["c098ef32.94eb8"],["a56077c7.d785f8"],["3d726de5.6de9ca"]]},{"id":"e5c2cf13.cd67b8","type":"comment","z":"d755bfa6.dd684","name":"Sovrum","info":"","x":90,"y":1280,"wires":[]},{"id":"3d726de5.6de9ca","type":"debug","z":"d755bfa6.dd684","name":"RSSI","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":1760,"wires":[]},{"id":"22019e56.c8fbba","type":"homekit-service","z":"d755bfa6.dd684","isParent":true,"bridge":"846d8156.169ec","parentService":"","name":"Rörelse dd:37:3d:26:dc:29","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"SigmaConnectivity AB","model":"Walnut Conference","serialNo":"dd:37:3d:26:dc:29","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":760,"y":1560,"wires":[[],[]]},{"id":"d22db105.6a6ec","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"22019e56.c8fbba","name":"Temperatur","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1600,"wires":[[],[]]},{"id":"f5957c47.c18af","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"22019e56.c8fbba","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1640,"wires":[[],[]]},{"id":"c098ef32.94eb8","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"22019e56.c8fbba","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1680,"wires":[[],[]]},{"id":"a56077c7.d785f8","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"22019e56.c8fbba","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":690,"y":1720,"wires":[[],[]]},{"id":"81417c7c.73f28","type":"subflow:88cf1d42.96444","z":"d755bfa6.dd684","name":"","x":420,"y":1360,"wires":[["a76f2860.3ad698"],["d01bede.62f8f9"],["af130274.23b22"],["c8e22231.692f88"],["a42319e9.b3ce78"],["acaa8b0.3e3dbf8"]]},{"id":"acaa8b0.3e3dbf8","type":"debug","z":"d755bfa6.dd684","name":"RSSI","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":1460,"wires":[]},{"id":"c8e22231.692f88","type":"debug","z":"d755bfa6.dd684","name":"Barometric Pressure","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":740,"y":1380,"wires":[]},{"id":"a76f2860.3ad698","type":"homekit-service","z":"d755bfa6.dd684","isParent":true,"bridge":"846d8156.169ec","parentService":"","name":"Temperatur f4:9d:46:f4:23:3b","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Sigma Connectivity AB","model":"Walnut Climate","serialNo":"f4:9d:46:f4:23:3b","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":760,"y":1260,"wires":[[],[]]},{"id":"d01bede.62f8f9","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"a76f2860.3ad698","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1300,"wires":[[],[]]},{"id":"af130274.23b22","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"a76f2860.3ad698","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1340,"wires":[[],[]]},{"id":"a42319e9.b3ce78","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"a76f2860.3ad698","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":690,"y":1420,"wires":[[],[]]},{"id":"13cb4a30.cb98ae","type":"comment","z":"d755bfa6.dd684","name":"Frys","info":"","x":90,"y":1580,"wires":[]},{"id":"6c9ba283.121d3c","type":"mqtt in","z":"d755bfa6.dd684","name":"walnuts/c1:31:3a:1c:f4:f0/#","topic":"walnuts/c1:31:3a:1c:f4:f0/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":150,"y":1960,"wires":[["a65fe956.9a5618"]]},{"id":"a65fe956.9a5618","type":"subflow:f391de5c.85acf8","z":"d755bfa6.dd684","name":"","x":430,"y":1960,"wires":[["dd54526.009c6b"],["12e52d7b.d88183"],["572d6b4b.8b9584"],["e73a36.0e9f6dc8"],["a9495d2b.f59f88"],["2894cfa5.51096"]]},{"id":"2894cfa5.51096","type":"debug","z":"d755bfa6.dd684","name":"RSSI","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":2060,"wires":[]},{"id":"dd54526.009c6b","type":"homekit-service","z":"d755bfa6.dd684","isParent":true,"bridge":"846d8156.169ec","parentService":"","name":"Rörelse c1:31:3a:1c:f4:f0","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"SigmaConnectivity AB","model":"Walnut Conference","serialNo":"c1:31:3a:1c:f4:f0","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":750,"y":1860,"wires":[[],[]]},{"id":"12e52d7b.d88183","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"dd54526.009c6b","name":"Temperatur","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1900,"wires":[[],[]]},{"id":"572d6b4b.8b9584","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"dd54526.009c6b","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1940,"wires":[[],[]]},{"id":"e73a36.0e9f6dc8","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"dd54526.009c6b","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":1980,"wires":[[],[]]},{"id":"a9495d2b.f59f88","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"dd54526.009c6b","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":690,"y":2020,"wires":[[],[]]},{"id":"84ade0c6.d3bb08","type":"comment","z":"d755bfa6.dd684","name":"Vardagsrum","info":"","x":110,"y":1880,"wires":[]},{"id":"e2ea099d.da87e","type":"mqtt in","z":"d755bfa6.dd684","name":"walnuts/d9:81:9a:c3:1c:cb/#","topic":"walnuts/d9:81:9a:c3:1c:cb/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":160,"y":2260,"wires":[["f0e05689.ab6198"]]},{"id":"f0e05689.ab6198","type":"subflow:f391de5c.85acf8","z":"d755bfa6.dd684","name":"","x":430,"y":2260,"wires":[["6731aa20.099264"],["3eee74b7.39962c"],["1be21bb4.bf4f9c"],["54ca32e6.0aa3a4"],["41273d5c.8b137c"],["f4054e2c.da892"]]},{"id":"f4054e2c.da892","type":"debug","z":"d755bfa6.dd684","name":"RSSI","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":2360,"wires":[]},{"id":"6731aa20.099264","type":"homekit-service","z":"d755bfa6.dd684","isParent":true,"bridge":"846d8156.169ec","parentService":"","name":"Rörelse d9:81:9a:c3:1c:cb","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"SigmaConnectivity AB","model":"Walnut Conference","serialNo":"d9:81:9a:c3:1c:cb","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":760,"y":2160,"wires":[[],[]]},{"id":"3eee74b7.39962c","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"6731aa20.099264","name":"Temperatur","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":2200,"wires":[[],[]]},{"id":"1be21bb4.bf4f9c","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"6731aa20.099264","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":2240,"wires":[[],[]]},{"id":"54ca32e6.0aa3a4","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"6731aa20.099264","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":2280,"wires":[[],[]]},{"id":"41273d5c.8b137c","type":"homekit-service","z":"d755bfa6.dd684","isParent":false,"bridge":"","parentService":"6731aa20.099264","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":690,"y":2320,"wires":[[],[]]},{"id":"61b89c86.7258bc","type":"comment","z":"d755bfa6.dd684","name":"Vardagsrum (hörn)","info":"","x":130,"y":2180,"wires":[]},{"id":"b1f9d1c9.530208","type":"mqtt in","z":"406af6aa.9543d8","name":"walnuts/ff:03:82:2c:7d:58/#","topic":"walnuts/ff:03:82:2c:7d:58/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":180,"y":180,"wires":[["763efa5b.8e3ec4"]]},{"id":"763efa5b.8e3ec4","type":"subflow:f391de5c.85acf8","z":"406af6aa.9543d8","name":"","x":450,"y":180,"wires":[["a38b25c1.59575"],["f38d564b.45c57"],["3088f916.b0b396"],["cf85713a.4408b8"],["2bb0be8d.314e92"],["c049afe2.84e48"]]},{"id":"c049afe2.84e48","type":"debug","z":"406af6aa.9543d8","name":"RSSI","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":710,"y":280,"wires":[]},{"id":"a38b25c1.59575","type":"homekit-service","z":"406af6aa.9543d8","isParent":true,"bridge":"846d8156.169ec","parentService":"","name":"Rörelse ff:03:82:2c:7d:58","serviceName":"MotionSensor","topic":"","filter":false,"manufacturer":"SigmaConnectivity AB","model":"Walnut Conference","serialNo":"ff:03:82:2c:7d:58","firmwareRev":"0.9.21","hardwareRev":"2.2.0","softwareRev":"1.0.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":770,"y":80,"wires":[[],[]]},{"id":"f38d564b.45c57","type":"homekit-service","z":"406af6aa.9543d8","isParent":false,"bridge":"","parentService":"a38b25c1.59575","name":"Temperatur","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":730,"y":120,"wires":[[],[]]},{"id":"3088f916.b0b396","type":"homekit-service","z":"406af6aa.9543d8","isParent":false,"bridge":"","parentService":"a38b25c1.59575","name":"Luftfuktighet","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":730,"y":160,"wires":[[],[]]},{"id":"cf85713a.4408b8","type":"homekit-service","z":"406af6aa.9543d8","isParent":false,"bridge":"","parentService":"a38b25c1.59575","name":"Ljussensor","serviceName":"LightSensor","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":730,"y":200,"wires":[[],[]]},{"id":"2bb0be8d.314e92","type":"homekit-service","z":"406af6aa.9543d8","isParent":false,"bridge":"","parentService":"a38b25c1.59575","name":"Batteri","serviceName":"BatteryService","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":710,"y":240,"wires":[[],[]]},{"id":"fb5f7f21.ed266","type":"comment","z":"406af6aa.9543d8","name":"Förråd","info":"","x":110,"y":100,"wires":[]},{"id":"50c1fe2f.a6b108","type":"trigger","z":"88cf1d42.96444","name":"","op1":"reset","op2":"true","op1type":"str","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":120,"wires":[["1338424a.e8b92e"]]},{"id":"1338424a.e8b92e","type":"trigger","z":"88cf1d42.96444","name":"","op1":"{\"CurrentTemperature\":\"NO_RESPONSE\",\"StatusActive\":false}","op2":"0","op1type":"json","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":760,"y":120,"wires":[[]]},{"id":"6ec56dfd.f83a64","type":"mqtt in","z":"c5eee3ce.8cd8c8","name":"walnuts/d3:00:01:0c:af:68/#","topic":"walnuts/d3:00:01:0c:af:68/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":160,"y":120,"wires":[["fd3d4888.76251","26fe8ef5.5d93d2"]]},{"id":"fd3d4888.76251","type":"debug","z":"c5eee3ce.8cd8c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":120,"wires":[]},{"id":"26fe8ef5.5d93d2","type":"change","z":"c5eee3ce.8cd8c8","name":"","rules":[{"t":"set","p":"measurement","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["1ec02394.8ecbc4","ab046b84.898958"]]},{"id":"1ec02394.8ecbc4","type":"debug","z":"c5eee3ce.8cd8c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"ab046b84.898958","type":"influxdb out","z":"c5eee3ce.8cd8c8","d":true,"influxdb":"84f7d70.5b51da8","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":790,"y":120,"wires":[]},{"id":"5d685750.4783c","type":"mqtt in","z":"c5eee3ce.8cd8c8","name":"walnuts/#","topic":"walnuts/#","qos":"0","datatype":"auto","broker":"eedc418e.860fb8","x":120,"y":240,"wires":[["4ff57551.834e64"]]},{"id":"4ff57551.834e64","type":"change","z":"c5eee3ce.8cd8c8","name":"","rules":[{"t":"set","p":"measurement","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["76f2034b.0ef11c"]]},{"id":"76f2034b.0ef11c","type":"influxdb out","z":"c5eee3ce.8cd8c8","d":true,"influxdb":"84f7d70.5b51da8","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":240,"wires":[]}]